
h1 {text-align: center;
   font-family: 'Lobster', cursive;
   color:#ff6666
}
h3 {text-align: center; font-size: 22px; color: #999999; }
h4 {font-size: 25px; font-family: 'Great Vibes', cursive;} /*Anastasia*/

.makeGray {  color: #999999; }

.RevolutionIconicSize {  height:150px;
width:175px;
display: inline-block; }

.RISwords { display: inline-block;}

/*.hidden { display: none;
}*\
