body
{
  background-image: url("cosmetics.jpg");
  background-repeat: repeat-x;
}
h1 {
  text-align:center;
  font-family: 'Lobster', cursive;
   color:#ff6666;
  }
h3 { text-align: center; font-size: 22px; color: #999999; }
h4 { text-align:center; word-spacing:15px; display:inline; font-size: 35px; font-family: 'Great Vibes', cursive;} /*Anastasia*/

#Header {
  background-color: white;
  padding: 10px;
  opacity:50;
/*about me and makeup dupes white box*/
}
.makeGray {  color: #999999; } /*about me*/

.RevolutionIconicSize {  height:150px;
width:175px;
display: inline-block; }

.hidden { display: none;} /*display the info*/
.SPimage {display: inline-block}
.totheright{
    display:inline-block;
}
