{
  back-ground image:https://media.allure.com/photos/5a1359b05a661941e3b80a96/master/w_780,h_780,c_limit/bhcosmetics.jpg
}
h1 {text-align: center;
   font-family: 'Lobster', cursive;
   color:#ff6666
}
h3 {text-align: center; font-size: 22px; color: #999999; }
h4 {font-size: 25px; font-family: 'Great Vibes', cursive;} /*Anastasia*/

.makeGray {  color: #999999; }

.RevolutionIconicSize {  height:150px;
width:175px;
display: inline-block; }

.RISwords { display: inline-block;}

.hidden { display: none;}

.totheright{
  align:right;
  display:inline-block;
}
